<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
      <p>
        Logged in as {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Log out</a>
      </p>
    {% else %}
      <a href="{{ url_for('auth_login') }}">Log in</a>
      <a href="{{ url_for('auth_register') }}">Register</a>
    {% endif %}
    
    <ul>
      <li><a href="{{ url_for('users_index') }}">List users</a></li>
      <li><a href="{{ url_for('boards_index') }}">List Boards</a></li>
    </ul>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>