@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* DARK MODE */
/*
    --primary: #376491;
    --primary-light: #4681bd;
    --primary-dark: #274666;
    --secondary: #2ecc71;
    --secondary-variant: #27ae60;
    --background: #2c3e50;
    --on-background: #ecf0f1;
    --on-background-accent: #59acff;
*/

:root {
    --primary: #1333B9;
    --primary-light: #4666EC;
    --primary-dark: #0A195C;
    --secondary: #4014B8;
    --secondary-light: #7347EB;
    --secondary-dark: #200A5C;
    --background: #ecf0f1;
    --on-background: #2c3e50;
    --on-background-accent: #2980b9;
    --on-primary: #ffffff;
    --on-secondary: #ffffff;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--on-background);
}

a {
    text-decoration: none;
    color: var(--on-background-accent);
}

nav {
    background: var(--primary);
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    padding: 1em 1.5em;
    background: var(--primary);
    text-decoration: none;
    color: var(--on-primary);
    display: inline-block;
}

nav ul li a:hover {
    background: var(--primary-light);
}

nav ul li a:active {
    background-color: var(--primary-dark);
}

nav ul .align-right {
    margin-left: auto;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 1em;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main table tr {
    border-bottom: 1px solid #fff;
}

main table td, th {
    padding: 0.8em 1em;
}

main table td.center {
    text-align: center;
}

.subnav {
    background: var(--primary-light);
    padding: 0.8em 1em;
    color: var(--on-primary);
}

.subnav a {
    color: var(--on-primary);
}