{% extends "layout.html" %}

{% block body %}
  <h2>Threads</h2>
  <p><a href="{{ url_for('threads_form') }}">Start a new thread</a></p>
  <table>
    <tr>
      <th>Title</th>
      <th>Board</th>
      <th>Date created</th>
      <th>Posted by</th>
    </tr>
    {% for thread in threads %}
    <tr>
      <td>{{ thread.title }}</td>
      <td class="center">{{ thread.board.boardname }}</td>
      <td class="center">{{ thread.date_created }}</td>
      <td class="center">{{ thread.user.username }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}