{% block body %}
  <table>
    <tr>
      <th>Title</th>
      <th>Board</th>
      <th>Date created</th>
      <th>Posted by</th>
    </tr>
    {% for thread in threads %}
    <tr>
      <td><a href="{{ url_for('view_thread', thread_id=thread.id) }}">{{ thread.title }}</a></td>
      <td class="center">{{ thread.board.boardname }}</td>
      <td class="center">{{ thread.date_created }}</td>
      <td class="center">{{ thread.user.username }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}