{% extends "layout.html" %}

{% block body %}
  <h2>Boards</h2>
  <a href="{{ url_for('boards_form') }}">Create a new board</a>
  <table>
    <tr>
      <th>Board name</th>
      <th>Date created</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
    {% for board in boards %}
    <tr>
      <td>{{ board.boardname }}</td>
      <td>{{ board.date_created }}</td>
      <td><a href="{{ url_for('edit_board', board_id=board.id) }}">Edit</a></td>
      <td>
        <form method="POST" action="{{ url_for('delete_board', board_id=board.id) }}">
          <input type="submit" value="X"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}